# http://editorconfig.org

# 根目录下 一般都为true
root = true

# 所有文件适用
[*]
chartset = utf-8 # 设置文件字符集为utf-8
indent_style = tab # 缩进风格（tab | space）
indent_size = 2 # 缩进大小
trim_trainling_whitespace = true # 去除行首的任意空白字符
end_of_line = crlf # 设置尾换行符 LF CR CRLF
insert_final_newline = true # 始终在文件末尾插入新行


[*.md] # 仅md格式的文件适用以下规则
max_line_length = off
trim_trailing_whitespace = false 
